.result {
  position: relative;
  aspect-ratio: 1 / 1;
  z-index: 0;
}

.code {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 0;

  &.activate {
    z-index: 1;
  }

  &_label {
    display: none;
  }

  &_inner {
    overflow: hidden;
    border: 1px solid #424242;
    border-radius: 0 4px 4px 4px;
  }
}

.canvas {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #272822;
}

@include mediaQuery('tablet') {
  .result {
    flex: 1 0 100%;
    display: flex;
    aspect-ratio: auto;
  }

  .tab {
    display: none;
  }

  .code {
    position: relative;
    inset: auto;
    display: block;
    flex: 1 0 0;
    & + & {
      margin-left: 20px;
    }

    &_label {
      display: inline-block;
      width: 107px;
      padding: 7px 0;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #19b3e6;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      text-align: center;
    }
  }
}
