.wrap {
  position: relative;
  width: 107px;
  margin-bottom: 0;
  padding: 7px 0;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  background-color: rgba(#19b3e6, 0.2);
  font-size: 14px;
  line-height: 17px;
  color: #eee;

  & + .wrap {
    margin-left: 1px;
  }

  &.activate {
    background-color: #19b3e6;
    color: #fff;
  }
}
