.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  min-height: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  padding: 30px 25px 50px;
}

.button_tab {
  position: relative;
  width: 107px;
  margin-bottom: 0;
  padding: 7px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: 17px;

  & + .button_tab {
    margin-left: 1px;
  }

  &.activate {
    background-color: #19b3e6;
  }
}

.editor,
.view,
.grade {
  flex: 1 0 100%;
}

.view {
  order: 1;
}

@include mediaQuery('tablet') {
  .main {
    max-width: 970px;
  }

  .editor,
  .view {
    display: flex;
    justify-content: space-between;
  }

  .tab {
    display: none;
  }
}

@include mediaQuery('pc_wide') {
  .main {
    flex-wrap: wrap;
    max-width: 1890px;
  }

  .grade {
    flex-basis: 50%;
  }

  .view {
    order: 0;
    flex-basis: 50%;
    margin-top: 80px;
  }
}
