.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}
.main {
  width: 100%;
  max-width: 500px;
  padding: 53px 25px 50px;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  text-align: center;
}

.description {
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz {
  margin-top: 50px;
  width: 100%;
}

.start {
  flex: 1 0 auto;
  margin-top: 30px;
  text-align: center;
}

.link_start {
  display: inline-block;
  padding: 0 17px;
  border: 1px solid rgba(#fff, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 47px;
  background-color: #edf0f3;
  border-color: rgba(#fff, 0.3);
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: #fff;
  }
}

.quiz_title {
  margin-top: 70px;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
  text-align: center;
}

.quiz_box {
  margin-top: 40px;
  color: #fff;
  text-align: center;

  & + .quiz_box {
    margin-top: 20px;
    padding-top: 19px;
    border-top: 1px solid #fff;
  }
}

.list_quiz {
  padding-top: 10px;
  font-size: 24px;
  line-height: 29px;
}

.item_quiz {
  margin-top: 20px;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

@include mediaQuery('tablet') {
  .main {
    max-width: 970px;
  }

  .link_start {
    padding: 0 34px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 32px;
    line-height: 98px;
  }
}

@include mediaQuery('pc_wide') {
  .main {
    flex-wrap: wrap;
    max-width: 1890px;
  }

  .box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .quiz {
    &:nth-child(2) {
      width: 50%;
    }
  }
}
