.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #526159;
}
.title {
  font-size: 17px;
  line-height: 40px;
  color: #fff;
}
.button_area {
  margin-left: auto;
}
.button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  vertical-align: top;
  & + & {
    margin-left: 10px;
  }
}
.quiz_button {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none;
  vertical-align: top;
  background: linear-gradient(#fff 50%, transparent 50%);
  background-size: 100% 12px;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.dimmed {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.7);
}
.quiz_list_area {
  position: absolute;
  top: 0;
  right: 0;
  width: 315px;
  height: 100%;
  border-radius: 10px;
  background-color: #303030;
  animation: popup 1s;
  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    animation: none;
  }
  .title {
    display: block;
    padding: 0 50px;
    font-size: 25px;
    text-align: center;
  }
}
.quiz_list_header {
  position: relative;
}
.close_button {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  &::before,
  &::after {
    position: absolute;
    top: 1px;
    right: 18px;
    width: 5px;
    height: 38px;
    background-color: #fff;
    transform: rotate(45deg);
    content: '';
  }
  &::after {
    left: 17px;
    transform: rotate(-45deg);
  }
}
.quiz_box {
  margin: 20px 20px 0;
  text-align: center;
  color: #fff;
  & + & {
    padding-top: 20px;
    border-top: 1px solid #fff;
  }
}
.quiz_level {
  font-size: 22px;
}
.list_quiz {
  margin-top: 10px;
}
.item_quiz {
  & + & {
    margin-top: 5px;
  }
}
.copy_popup_text {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(#000, 0.7);
  animation: share ease-in-out 3.4s;
}

@keyframes popup {
  0% {
    right: -315px;
  }
  to {
    right: 0;
  }
}
@keyframes share {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
