@use '~styles/variables.scss' as v;

.container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 18px;
  background-color: #526159;
}
.title {
  font-size: 14px;
  line-height: 40px;
  color: v.$title;
}
.button_area {
  margin-left: auto;
}
.button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  vertical-align: top;
  & + & {
    margin-left: 10px;
  }
}
.quiz_button {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  vertical-align: top;
  background-color: transparent;
  span {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 2px;
    right: 0;
    left: 0;
    border-radius: 5px;
    background-color: #ddd;
    &:nth-child(2) {
      top: 12px;
    }
    &:nth-child(3) {
      top: 22px;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.dimmed {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.7);
}
.menu_area {
  position: absolute;
  top: 0;
  right: 0;
  width: 315px;
  height: 100%;
  background-color: #202020;
  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
  }
  .title {
    display: block;
    padding: 0 50px;
    font-size: 25px;
    text-align: center;
  }
}
.header {
  position: relative;
}
.close_button {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.quiz_box {
  margin-top: 10px;
  text-align: center;
  color: #ddd;
  & + & {
    margin-top: 20px;
  }
}
.quiz_level {
  font-size: 22px;
}
.list_quiz {
  margin-top: 10px;
}
.item_quiz {
  & + & {
    margin-top: 5px;
  }
}
.copy_popup_text {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #ccc;
  background-color: rgba(#000, 0.7);
  animation: popup ease-in-out 3.4s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
